.container{
    width: 100%;
    border: 0.3rem solid var(--highlight);
    padding: 5rem;
    border-radius: 2rem;
}

.profileIcon{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.accountName{
    display: flex;
    justify-content: center;
}