.home {
  width: 100%;
  min-height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5rem;
  gap: 5rem;
  position: relative;
}

.personalInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.summonerProfile {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.3rem solid var(--highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--highlight);
}

.summonerIcon {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 0.3rem solid var(--fontColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.summonerLevel {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--fontColor);
  color: #000;
  padding: 1rem;
  border-radius: 2rem;
}

.set {
  display: flex;
  gap: 2rem;
}

.generalInfo {
  padding: 4rem;
  border: 0.3rem solid var(--highlight);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.infoBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.infoTitle {
  font-size: 1.8rem;
}

.detailsH2 {
  text-transform: capitalize;
}

.rank,
.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem;
}

.augments,
.traits,
.champions {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.augment,
.trait {
  font-size: 1.5rem;
  color: var(--fontColor);
  padding: 1rem;
  border-radius: 2rem;
  border: 0.3rem solid var(--highlight);
}

.champions {
  gap: 2rem;
}

.unit {
  font-size: 1.5rem;
  color: var(--fontColor);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.championImg {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.championImg:hover {
  width: 20rem;
  height: 10rem;
  object-fit: cover;
}

.itemsImgs {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.item {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  background: transparent;
}

.championImg:hover .item {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}


.participants {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.participant {
  width: 100rem;
  border: 0.3rem solid var(--highlight);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.participantInfo {
  width: 20%;
}

.participantTraits,
.participantChampions {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  border-radius: 2rem;
  overflow: hidden;
  width: 35%;
  border: 0.3rem solid var(--highlight);
  padding: 1rem;

}

.participantTrait,
.participantChampion {
  width: 100%;
  padding: 0.5rem;
  color: var(--fontColor);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.participantTrait {
  border-radius: 2rem;
}

.participantChampion {
  position: relative;
}

.unitImg {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.participantItems {
  display: flex;
  gap: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.participantItem {
  width: 1.5rem;
  height: 1.5rem;
}

/* ranking*/
.displayNone {
  display: none;
}

.displayBlock {
  display: flex;
}

.iron {
  border: 0.3rem solid #4d4d4d;
}

.bronze {
  border: 0.3rem solid #b17640;
}

.silver {
  border: 0.3rem solid silver;
}

.gold {
  border: 0.3rem solid gold;
}

.platinum {
  border: 0.3rem solid rgb(153, 235, 208);
}

.link {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  text-decoration: none;
  color: var(--fontColor);
}

.link:visited {
  color: var(--fontColor);
}

.link:hover {
  cursor: pointer;
  color: var(--accent)
}

.otherMatches{
  color: var(--fontColor);
  font-size: 2rem;
  text-decoration: none;
  border: 0.3rem solid var(--highlight);
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 4rem;
}

.otherMatches:visited{
  color: var(--fontColor)
}

.otherMatches:hover{
  background: var(--darklight);
  transform: translateY(1rem);
  transition: 0.5s;
}