.home {
    width: 100%;
    min-height: 100vh;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 5rem;
  }
  
  .searchWrapper {
    width: 80rem;
    height: 40rem;
    border: 0.5rem solid var(--highlight);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    flex-direction: column;
    gap: 2rem;
  }
  
  .searchLogo {
    width: 20rem;
    height: 15rem;
  }

  .title{
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
    color: var(--fontColor);
  }
  
  .searchForm {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 4rem;
    text-align: center;
  }

  .regionDropdown{
    width: 10rem;
    height: 4rem;
    border: 0.3rem solid var(--accent);
    background: rgba(0, 0, 0, 0.2);
    color: var(--fontColor);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
  }
  
  .searchName {
    height: 4rem;
    border: 0.3rem solid var(--accent);
    background: rgba(0, 0, 0, 0.2);
    color: var(--fontColor);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .searchNames, .searchTags{
    display: flex;
    flex-direction: column;
  }
  
  .searchTag {
    width: 12rem;
    height: 4rem;
    border: 0.3rem solid var(--accent);
    color: var(--fontColor);
    font-size: 2rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }
  
  .searchSubmit{
    width: 10rem;
    height: 4rem;
    background: transparent;
    border: 0.3rem solid var(--accent);
    color: var(--fontColor);
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  
  .searchSubmit:hover{
    background: var(--darklight);
    transform: translateY(1rem);
    transition: 0.5s;
  } 