*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --background: linear-gradient(to bottom right,#1B1A55, #070F2B);
    --highlight: #9290C3;
    --darklight: #535C91;
    --accent: #910A67;
    --fontColor: #eee;
  }
  
  html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h1, h2, h3, p, label{
    color: var(--fontColor);
  }

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2.5rem;
  }

  h3{
    font-size: 2.2rem;
  }

  p, label{
    font-size: 2rem;
  }
  

img:hover{
  cursor: pointer;
}